
@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}
<script type="text/javascript">

    $(document).ready(function () {

        $('#liHome').css('background-color', '');
        $('#liSheet').css('background-color', '');
        $('#liPaperBag').css('background-color', '');
        $('#liContact').css('background-color', '');
        $('#liAbout').css('background-color', '#000000');

    });

</script>
@*<body style=" background: #303030; color: white">

        <h2>URBAN CHAMPION</h2>
    </body>*@
@*<div class="form-horizontal" style="text-align:center; ">*@

    <div class="container body-content">
        <br /><br />
        <label style="height:20%; font-size:xx-large">
            Stack de Tecnología 
        </label>
        <br /><br />
        <div class="row d-flex justify-content-center">
            <table class="table-bordered" style="text-align: left">
                <tr>
                    <th style="width:300px">Interfaz: </th>
                    <td style="width:300px">HTML - Bootstrap</td>
                </tr>
                <tr>
                    <th style="width:300px">Controller Javascript : </th>
                    <td style="width:300px">JQuery - Ajax</td>
                </tr>
                <tr>
                    <th style="width:300px">Controller Server : </th>
                    <td style="width:300px">MVC C# .NET </td>
                </tr>

                <tr>
                    <th style="width:300px">Motor BD: </th>
                    <td style="width:300px">SQL Server</td>
                </tr>

            </table>
        </div>
        <br />
        <div class="row d-flex justify-content-center">
            <table class="table-bordered" style="text-align: left">
                <tr>
                    <th style="width:300px">Idea y Desarrollo: </th>
                    <td style="width:300px">Milton César Amado</td>
                </tr>
                <tr>
                    <th style="width:300px">Colaborador: </th>
                    <td style="width:300px">Gabriel Alejandro Herrera</td>
                </tr>
                
            </table>
        </div>
    </div>

@*</div>*@
<link href="~/Scripts/AlertMessage/alertifyjs/css/alertify.css" rel="stylesheet" />
<link href="~/Scripts/AlertMessage/alertifyjs/css/themes/default.css" rel="stylesheet" />
<link href="~/Scripts/bootstrap-4.2.1/css/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.0/jquery-3.4.0.min.js"></script>
<script src="~/Scripts/bootstrap-4.2.1/js/bootstrap.min.js"></script>
<script src="~/Scripts/fontawesome/all.js"></script>
<script src="~/Scripts/Controller/LoginController.js"></script>
<script src="~/Scripts/AlertMessage/alertifyjs/alertify.js"></script>
<script src="~/Scripts/GlobalFunc/General.js"></script>
<script src="~/Scripts/GlobalFunc/URLController.js"></script>
