<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="D:\_CODE\Net\UrbanChampion\ControlSheetNewGIT\ControlSheet\log\nlog-Internal.log"
      keepVariablesOnReload="true"
      throwConfigExceptions="true"
      throwExceptions="true">

  <variable name="logDirectory" value="D:\_CODE\Net\UrbanChampion\ControlSheetNewGIT\ControlSheet\log\${shortdate}"/>

  <targets>
    <default-target-parameters xsi:type="File" keepFileOpen="false"/>
    
    <target name="logFileTrace" xsi:type="File" layout="${date} ${callsite} ${callsite-linenumber} ${level} ${message}" fileName="${logDirectory}\nlog-Trace.log" />
    <target name="logFileDebug" xsi:type="File" layout="${date} ${callsite} ${callsite-linenumber} ${level} ${message}" fileName="${logDirectory}\nlog-Debug.log" />
    <target name="logFileInfo" xsi:type="File" layout="${date} ${callsite} ${callsite-linenumber} ${level} ${message}" fileName="${logDirectory}\nlog-Info.log" />
    <target name="logFileWarn" xsi:type="File" layout="${date} ${callsite} ${callsite-linenumber} ${level} ${message}" fileName="${logDirectory}\nlog-Warn.log" />
    <target name="logFileError" xsi:type="File" layout="${date} ${callsite} ${callsite-linenumber} ${level} ${message}" fileName="${logDirectory}\nlog-Error.log" />
    <target name="logFileFatal" xsi:type="File" layout="${date} ${callsite} ${callsite-linenumber} ${level} ${message}" fileName="${logDirectory}\nlog-Fatal.log" />

    <target name="logDB" xsi:type="Database"
            commandText="[audit].[spInsertEvents]"
            commandType="StoredProcedure"
            connectionString="Server=P3-14-139\SQLEXPRESS;Database=controlsheet;User ID=admin;Password=admin;"
            dbProvider="System.Data.SqlClient">
      <parameter name="@assemblyversion" layout="${assembly-version}" />
      <parameter name="@basedir" layout="${basedir}" />
      <parameter name="@callsite" layout="${callsite}" />
      <parameter name="@callsitelinenumber" layout="${callsite-linenumber}" />
      <parameter name="@currentdir" layout="${currentdir}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@machinename" layout="${machinename}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@processname" layout="${processname}" />
      <parameter name="@stacktrace" layout="${stacktrace}" />
      <parameter name="@windowsidentity" layout="${windows-identity}" />
      <parameter name="@exception" layout="${exception:format=toString}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@properties" layout="${all-event-properties:separator=|}" />
    </target>
  </targets>

  <rules>
    <logger name="*" levels="Trace" writeTo="logFileTrace" />
    <logger name="*" levels="Debug" writeTo="logFileDebug" />
    <logger name="*" levels="Info" writeTo="logFileInfo" />
    <logger name="*" levels="Warn" writeTo="logFileWarn" />
    <logger name="*" levels="Error" writeTo="logFileError" />
    <logger name="*" levels="Fatal" writeTo="logFileFatal" />
    <logger name="*" levels="Trace,Debug,Info,Warn,Error,Fatal" writeTo="logDB" />
  </rules>
</nlog>