@{
    Layout = "~/Views/Shared/_LayoutPaperBag.cshtml";
}
<script type="text/javascript">

    $(document).ready(function () {

        $('#liContact').css('background-color', '');
        $('#liHome').css('background-color', '');
        $('#liSheet').css('background-color', '');
        $('#liPaperBag').css('background-color', '#000000');

    });

</script>

<div class="card">
    <div class="card-body" style="color:black; background-color:aqua; font-family:fantasy; font-size:xx-large">
        Paper Bag
    </div>
</div>


<div class="card-body">
    @*<button id="btnModal" type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModifyProfileModal"><i class="fas fa-arrow-circle-right"></i> Modifical Perfil </button>*@
    <button id="btnModal" type="button" class="btn btn-primary" onclick="ShowModifyProfile()"><i class="fas fa-arrow-circle-right"></i> Modifical Perfil </button>
</div>

<div>
    <div class="table-responsive">
        <table id="tblPaperBag" class="table" style="color: black; text-align:left; ">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Perfil</th>
                    <th scope="col">Una pasión</th>
                    <th scope="col">Algo que me gusta</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Oficio</th>
                    <th scope="col">Ver</th>
                </tr>
            </thead>
        </table>
    </div>

</div>


<!-- Modal -->

<div class="modal fade" id="ModifyProfileModal">
    <div class="modal-dialog" style="max-width:60%">
        <div class="modal-content" style="color:black">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modificar Perfil</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
           
                    <table id="tblModify" class="table" style="color:black">

                        <tbody style="text-align:left">
                            <tr>
                                <th>Foto - Perfil</th>
                                <td>
                                    <input style="width:300px" id="file-perfil" name="file-perfil" type="file"accept="image/jpeg" />
                                </td>
                                <td>
                                    <img id="imgPerfil" width="90px" height="90px" src="" />
                                </td>

                            </tr>
                            <tr>
                                <th>Foto - Una pasión</th>
                                <td>
                                    <input style="width:300px" id="file-pasion" type="file" />
                                </td>
                                <td>
                                    <img id="imgPasion" width="90px" height="90px" src="" />
                                </td>
                            </tr>
                            <tr>
                                <th>Foto - Algo que me gusta</th>
                                <td>
                                    <input style="width:300px" id="file-algo" type="file" />
                                </td>
                                <td>
                                    <img id="imgAlgo" width="90px" height="90px" src="" />
                                </td>
                            </tr>
                            <tr>
                                <th>Nombre y Apellido</th>
                                <td>

                                    <input style="max-width:100%" class="form-control" id="txtName" type="text">
                                </td>

                            </tr>
                            <tr>
                                <th>Oficio</th>
                                <td>

                                    <input style="max-width:100%" class="form-control" id="txtProfession" type="text">
                                </td>

                            </tr>
                            <tr>
                                <th>Datos Academicos</th>
                                <td>

                                    <textarea style="max-width:100%" class="form-control" id="txtAcademyData" rows="7"></textarea>
                                </td>

                            </tr>
                            <tr>
                                <th>Experiencia laboral</th>
                                <td>

                                    <textarea style="max-width:100%" class="form-control" id="txtExperience" rows="7"></textarea>
                                </td>

                            </tr>
                            <tr>
                                <th>Contacto</th>
                                <td>

                                    <textarea style="max-width:100%" class="form-control" id="txtContact" rows="7"></textarea>
                                </td>

                            </tr>

                        </tbody>
                    </table>                
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-window-close"></i> Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="savePerfilData();"><i class="fas fa-savet"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="WatchProfileUser">
    <div class="modal-dialog" style="max-width:60%">
        <div class="modal-content" style="color:black">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detalle Perfil</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">

                    <table id="tblModify" class="table" style="color:black">

                        <tbody style="text-align:left">
                            <tr>
                                <th>Foto - Perfil</th>
                                <td>
                                    <img id="imgPerfilWatch" width="80px" height="80px" src="" />
                                </td>
                            </tr>
                            <tr>
                                <th>Foto - Una pasión</th>
                                <td>
                                    <img id="imgPasionWatch" width="80px" height="80px" src="" />
                                </td>
                            </tr>
                            <tr>
                                <th>Foto - Algo que me gusta</th>
                                <td>
                                    <img id="imgAlgoWatch" width="80px" height="80px" src="" />
                                </td>
                            </tr>
                            <tr>
                                <th>Nombre y Apellido</th>
                                <td>

                                    <input style="max-width:100%" class="form-control" id="txtNameWatch" type="text" readonly>
                                </td>
                            </tr>
                            <tr>
                                <th>Oficio</th>
                                <td>

                                    <input style="max-width:100%" class="form-control" id="txtProfessionWatch" type="text" readonly>
                                </td>
                            </tr>
                            <tr>
                                <th>Datos Academicos</th>
                                <td>

                                    <textarea style="max-width:100%" class="form-control" id="txtAcademyDataWatch" rows="7" readonly></textarea>
                                </td>
                            </tr>
                            <tr>
                                <th>Experiencia laboral</th>
                                <td>

                                    <textarea style="max-width:100%" class="form-control" id="txtExperienceWatch" rows="7" readonly></textarea>
                                </td>
                            </tr>
                            <tr>
                                <th>Contacto</th>
                                <td>

                                    <textarea style="max-width:100%" class="form-control" id="txtContactWatch" rows="7" readonly></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<!--End MODAL-->



<link href="~/Scripts/AlertMessage/alertifyjs/css/alertify.css" rel="stylesheet" />
<link href="~/Scripts/AlertMessage/alertifyjs/css/themes/default.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.0/jquery-3.4.0.min.js"></script>
<script src="~/Scripts/bootstrap-4.2.1/js/bootstrap.min.js"></script>

<script src="~/Scripts/fontawesome/all.js"></script>
<script src="~/Scripts/AlertMessage/alertifyjs/alertify.js"></script>

<!--DataTables-->
<link href="~/Content/dataTables/DataTables-1.10.18/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/dataTables/Buttons-1.5.6/buttons.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.0/datatables/DataTables-1.10.18/jquery.dataTables.min.js"></script>
<script src="~/Scripts/jquery-3.4.0/datatables/Buttons-1.5.6/dataTables.buttons.min.js"></script>
<script src="~/Scripts/jquery-3.4.0/datatables/Buttons-1.5.6/jszip.min.js"></script>
<script src="~/Scripts/jquery-3.4.0/datatables/Buttons-1.5.6/pdfmake.min.js"></script>
<script src="~/Scripts/jquery-3.4.0/datatables/Buttons-1.5.6/vfs_fonts.js"></script>
<script src="~/Scripts/jquery-3.4.0/datatables/Buttons-1.5.6/buttons.print.min.js"></script>
<script src="~/Scripts/jquery-3.4.0/datatables/Buttons-1.5.6/buttons.html5.min.js"></script>

<script src="~/Scripts/Controller/PaperBag/PrincipalController.js"></script>

<script src="~/Scripts/jquery-3.4.0/BlockUI/jquery.blockUI.min.js"></script>
<script src="~/Scripts/GlobalFunc/URLController.js"></script>




