
@{
    ViewBag.Title = "PrincipalReport";
}

<h2>PrincipalReport</h2>


<script src="~/Scripts/jquery-3.4.0/jquery-3.4.0.min.js"></script>
<script src="~/Scripts/bootstrap-4.2.1/js/bootstrap.min.js"></script>

