@{
    ViewBag.Title = "Home Page";
}
<link href="~/Scripts/bootstrap-4.2.1/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Styles/MenuVertical.css" rel="stylesheet" />
<body>
    <nav>
        <ul class="Menu">
            <li><a href="#">Crear Proyecto</a></li>
            <li><a href="#">Proyectos Activos</a></li>
            <li><a href="#">Historial de Proyectos</a></li>
        </ul>
    </nav>
</body>
